<h1>Profile</h1>



<p>
{% if request.user == user %}
    <a href = "{% url 'profile_edit' profile.pk%}"> Edit Profile</a>
    <a href = "{% url 'inbox'%}">Enter Inbox</a>
{%endif%}
</p>
<div>
    <p> Followers: {{number_of_followers}}</p>
    {%if user == request.user%}
    {%else%}
    
    {%if is_following %}
    <form method="POST" action="{%url 'remove_follower' profile.pk %}">
        {%csrf_token%}
        <button type='submit'>Unfollow</button>
    </form>
    {%else%}
    <form method="POST" action="{%url 'add_follower' profile.pk %}">
        {%csrf_token%}
        <button type='submit'>Follow</button>
    </form>

    {%endif%}
    {%endif%}
</div>

{%if profile.name%}
<h3>{{profile.name}}</h3>
{%endif%}

{%if profile.description%}
<h3>{{profile.description}}</h3>
{%endif%}

{%if profile.services%}
<h3>{{profile.services}}</h3>
{%endif%}

<h2>{{user.email}}</h2>

{% for post in posts%}
    <p>{{post.body}}</p>
    <p><a href = "{% url 'profile' post.author.profile.pk %}">@{{post.author}}</a></p>
    <p>{{post.created_on}}</p>
{%endfor%}

{% if request.user != user %}
<p>THis isnt mine</p>
{%else%}
<a href="{%url 'add_post'%}"> Create Post</a>
<p>This is mine</p>
{%endif%}
<a href = "{% url 'posts'%}"> Move back to posts</a>